<h2>User's view</h2>
<h4>It will only show information for the current logged-in user</h4>
<section>
  <!-- <input type="text" ng-model="search" class="search-query pull-left" placeholder="Search"> -->
</section>
<br/>


    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        Select an user<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="employee in dataModel | filter:{isdeleted:'false'} | orderBy:'name'">
          <a ng-click="$parent.current = employee">{{employee.name}}</a>
          </li>
       </ul>
    </div>

<form name="employeeList" novalidate="" class="form-inline" ng-show=current.$id>
  <h3>{{current.name}}</h3>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th class="span5">Last Modification</th>
        <th class="span6">Name</th>
        <th class="span5">Network ID</th>
        <th class="span5">Vacations</th>
      </tr>
      <tr ng-repeat="employee in dataModel | filter:{$id:current} | orderBy:'name'">
        <td>{{employee.lastmodified|date:'dd MMMM yyyy'}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.networkid}}</td>
        <td><span my-vacations info='employee.vacations'></span>
        </td>
        <td>
          <a class="btn btn-primary btn-small" ng-click="select(employee.$id)">Select</a>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<form name="updateForm" role="form" ng-show=current.$id>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th class="span5">Comments</th>
        <th class="span6">Start</th>
        <th class="span5">End</th>
        <th class="span5">Days</th>
      </tr>
      <tr ng-repeat="vac in current.vacations">
        <td>{{vac.comments}}</td>
        <td>{{vac.startdate|date:'dd MMMM yyyy'}}</td>
        <td>{{vac.enddate|date:'dd MMMM yyyy'}}</td>
        <td>{{vac.days}}</td>
      </tr>
    </tbody>
  </table>

  {{currentUserVacations}}
</form>

